*{
	margin: 0px;
	padding: 0px;
}


#head{
	background-color:;
}	

.active{
	background-color: lawngreen;
}


.navbar ul li{
	float: left;
	padding: 10px;
	position: relative;
}

.navbar{
	font-family: cursive;
	margin-left: -5px;
	margin-right: -5px;
	padding-bottom: -5px;
	position: sticky;
	top: 0px;
	
}
